%div
  %h4 Add a new Service Area
  %div
    = form_tag locations_path, :method => :post do
      = render "service_area_form_fields"
      .actions
        = submit_tag "Create Service Area"
  %h4 All Service Areas
  %Table{:border=> "1", :cellpadding=>"1", :cellspacing=>"1", :width=>"100%", :overflow=>"hidden" }
    = render "service_area_header"
    = render @service_areas