.form-field-radio
  = label :answers, :field_8, 'How many monkeys are there'
.form-field-radio-options
  = radio_button :answers, :field_8, '43'
  = label :answers, :field_8, '43'
.form-field-radio-options
  = radio_button :answers, :field_8, '1'
  = label :answers, :field_8, '1'
.form-field-radio-options
  = radio_button :answers, :field_8, '-2.54'
  = label :answers, :field_8, '-2.54'
.form-field-radio-options
  = radio_button :answers, :field_8, 'A lot'
  = label :answers, :field_8, 'A lot'
.form-field-radio-options
  = radio_button :answers, :field_8, 'I think they actually might be horses.'
  = label :answers, :field_8, 'I think they actually might be horses.'
