.form-field-radio
  = label :answers, :field_4, 'radio'
.form-field-radio-options
  = radio_button :answers, :field_4, '1'
  = label :answers, :field_4, '1'
.form-field-radio-options
  = radio_button :answers, :field_4, '2'
  = label :answers, :field_4, '2'
.form-field-radio-options
  = radio_button :answers, :field_4, '3'
  = label :answers, :field_4, '3'
