%div{:align => "center"}
  = form_tag sessions_path, :method => :post do
    .field
      = label_tag :name, "Name: "
      = text_field_tag :name, nil, :placeholder=>"Enter your name"
    .field
      = label_tag :password, "Password: "
      = text_field_tag :password, nil, :type=>"password", :placeholder=>"Enter your password"
    .field
      = submit_tag "Sign in"