%div{:class => "#{note.made_by}-note"} 
  %table{:width => "97%"}
    %tr
      %td
        -if !note.user.blank?    
          %b= "Added by"
          %b= link_to "#{note.user.first_name}", user_path(note.user)
      %td{:padding => "5"}
        %b
          .right-just= readable_date(note.created_at)
  %hr{:display => "inline"}
  %p= note.body.gsub(/\n/, '<br/>').html_safe

%p
