.form-field-radio
  = label :answers, :field_11, 'pick a number'
.form-field-radio-options
  = radio_button :answers, :field_11, 'one'
  = label :answers, :field_11, 'one'
.form-field-radio-options
  = radio_button :answers, :field_11, 'two'
  = label :answers, :field_11, 'two'
.form-field-radio
  = label :answers, :field_12, 'Choose a letter'
.form-field-radio-options
  = radio_button :answers, :field_12, 'A'
  = label :answers, :field_12, 'A'
.form-field-radio-options
  = radio_button :answers, :field_12, 'B'
  = label :answers, :field_12, 'B'
