.form-field-radio
  = label :answers, :field_19, 'one option'
.form-field-radio-options
  = radio_button :answers, :field_19, 'adfe'
  = label :answers, :field_19, 'adfe'
.form-field-radio-options
  = radio_button :answers, :field_19, 'fewfe'
  = label :answers, :field_19, 'fewfe'
