.form-field-radio
  = label :answers, :field_13, 'pick a number'
.form-field-radio-options
  = radio_button :answers, :field_13, '3'
  = label :answers, :field_13, '3'
.form-field-radio-options
  = radio_button :answers, :field_13, '4'
  = label :answers, :field_13, '4'
.form-field-radio
  = label :answers, :field_17, 'number of monkeys in your pocket right now.  RIGHT NOW'
.form-field-radio-options
  = radio_button :answers, :field_17, '53'
  = label :answers, :field_17, '53'
.form-field-radio-options
  = radio_button :answers, :field_17, '634647'
  = label :answers, :field_17, '634647'
