.form-field-radio
  = label :answers, :field_10, 'pick a number'
  = radio_button :answers, :field_10_option_0
  = label :answers, :field_10_option_0, 'one'
  = radio_button :answers, :field_10_option_1
  = label :answers, :field_10_option_1, 'two'
