.form-field-radio
  = label :answers, :field_21, 'How many bananas do you want?'
.form-field-radio-options
  = radio_button :answers, :field_21, '1'
  = label :answers, :field_21, '1'
.form-field-radio-options
  = radio_button :answers, :field_21, '2'
  = label :answers, :field_21, '2'
.form-field-radio-options
  = radio_button :answers, :field_21, '3'
  = label :answers, :field_21, '3'
.form-field-radio-options
  = radio_button :answers, :field_21, '4'
  = label :answers, :field_21, '4'
.form-field-radio-options
  = radio_button :answers, :field_21, '5'
  = label :answers, :field_21, '5'
