%div
  = form_tag set_providers_path, :method => :post do
    %ul
      %table
        %tr
          %td= label :default_provider, :id, "Default Provider: "
          %td= select :default_provider, :id, get_providers_in(@service_area), :include_blank => true
        %tr
          %td= "Provider for:"
        - @locations.each do |location|
          %tr
            .select
              %td{:align => "right"}= label :location, "#{location.id}", "#{location.name}: "
              %td= select :location, "#{location.id}", get_providers_in(@service_area), |
                          :selected => "#{@sp_id_for_loc[location.id-1]}", :include_blank => true  
        %tr
          %td{:align => "right"}= submit_tag "Set Providers"
