%table
  %td
    %table  
      %tr
        %td
          .field
            = label_tag :options , "1"
            = text_field :options, :option_1, :value => "#{@options_list[0]}" 
      %tr
        %td
          .field
            = label_tag :options, " 2"
            = text_field :options, :option_2, :value => "#{@options_list[1]}" 
      %tr
        %td
          .field
            = label_tag :options, "3"
            = text_field :options, :option_3, :value => "#{@options_list[2]}" 
      %tr
        %td
          .field
            = label_tag :options, "4"
            = text_field :options, :option_4, :value => "#{@options_list[3]}" 
      %tr
        %td
          .field
            = label_tag :options, "5"
            = text_field :options, :option_5, :value => "#{@options_list[4]}"
  %td
    %table    
      %tr     
        %td
          .field
            = label_tag :options , "6"
            = text_field :options, :option_6, :value => "#{@options_list[5]}"
      %tr      
        %td
          .field
            = label_tag :options, " 7"
            = text_field :options, :option_7, :value => "#{@options_list[6]}"
      %tr
        %td
          .field
            = label_tag :options, "8"
            = text_field :options, :option_8, :value => "#{@options_list[7]}"
      %tr
        %td
          .field
            = label_tag :options, "9"
            = text_field :options, :option_9, :value => "#{@options_list[8]}"
      %tr     
        %td
          .field
            = label_tag :options, "10"
            = text_field :options, :option_10, :value => "#{@options_list[9]}"
