%table
  %tr
    %td
      .field
        = label_tag :options , "1"
        = text_field :options, :option_1
    %td
      .field
        = label_tag :options , "6"
        = text_field :options, :option_6
  %tr
    %td
      .field
        = label_tag :options, " 2"
        = text_field :options, :option_2
    %td
      .field
        = label_tag :options, " 7"
        = text_field :options, :option_7
  %tr
    %td
      .field
        = label_tag :options, "3"
        = text_field :options, :option_3
    %td
      .field
        = label_tag :options, "8"
        = text_field :options, :option_8
  %tr
    %td
      .field
        = label_tag :options, "4"
        = text_field :options, :option_4
    %td
      .field
        = label_tag :options, "9"
        = text_field :options, :option_9
  %tr
    %td
      .field
        = label_tag :options, "5"
        = text_field :options, :option_5
    %td
      .field
        = label_tag :options, "10"
        = text_field :options, :option_10