%div{:align => "center"}
  #new-form-field.boxed-up
    %h4= "Add a new Field for the '#{@ticket_form.title}' Form in '#{@ticket_form.service_area.name}'"
    = form_tag create_form_field_path, :method => :post do
      .field.shift-right
        = label_tag :question, "Please enter your question: "
        = text_field_tag :question, @question
      %h4 Please Select the Type of Field you want to create
      #field-type
        .field.shift-right
          = radio_button_tag :field_type, :text, :checked
          = label_tag :field_type, "Text Field"
        .field.shift-right
          = radio_button_tag :field_type, :check_box, type_checked?("check_box")
          = label_tag :field_type, "Check Box Field"
        .field.shift-right    
          = radio_button_tag :field_type, :radio, type_checked?("radio")
          = label_tag :field_type, "Radio Button Field"
        .field.shift-right
          = radio_button_tag :field_type, :select, type_checked?("select")
          = label_tag :field_type, "Select Field"
      %h4 For Radio Buttons or Select Fields, Please enter in up to 10 options:
      = render "options"
      .actions.shift-right
        = submit_tag "Add New Field"
%br
