%div
  %h3= "Add a new Field for the '#{@ticket_form.title}' Form in '#{@ticket_form.service_area.name}'"
  = form_tag create_form_field_path, :method => :post do
    .field
      = label_tag :question, "Please enter your question: "
      = text_field_tag :question, @question
    %h4 Please Select the Type of Field you want to create
    .field      
      = radio_button_tag :field_type, :text, :checked
      = label_tag :field_type, "Text Field"
    .field
      = radio_button_tag :field_type, :check_box
      = label_tag :field_type, "Check Box Field"
    .field      
      = radio_button_tag :field_type, :radio
      = label_tag :field_type, "Radio Button Field"
    .field      
      = radio_button_tag :field_type, :select
      = label_tag :field_type, "Select Field"
    %h4 If you are making a new Radio Button or Select Field please enter in up to 10 options
    = render "options"
    .actions
      = submit_tag "Add New Field"
