%div
  %h3= "Add a new Field for the '#{@ticket_form.title}' Form in '#{@ticket_form.service_area.name}'"
  = form_tag create_form_field_path, :method => :post do
    .field
      = label_tag :question, "Please enter your question: "
      = text_field_tag :question, @question
    %h4 Please Select the Type of Field you want to create
    .field      
      = radio_button_tag :field_type, :text, :checked
      = label_tag :field_type, "Text Field"
    .field      
      = radio_button_tag :field_type, :radio
      = label_tag :field_type, "Radio Button Field"    
    %h4 If you are making a new Radio Button please enter in up to 5 options
    .field
      = label_tag :options , "1"
      = text_field :options, :option_1
    .field
      = label_tag :options, "2"
      = text_field :options, :option_2
    .field
      = label_tag :options, "3"
      = text_field :options, :option_3
    .field
      = label_tag :options, "4"
      = text_field :options, :option_4
    .field
      = label_tag :options, "5"
      = text_field :options, :option_5
    .actions
      = submit_tag "Add New Field"
