%div{:align => "center"}  
  #service-area-form.boxed-up
    = render "service_area_form_menu"
    %div
      %ul
        %b= "Service Area: "
        ="#{@form.service_area.name}"
      %ul
        %b= "Ticket Type: "
        ="#{@form.title}"
      = render "form_fields"
    = render "locations_form"
%br
