.field
  = label :user, :name, "Name"
  = text_field :user, :name
.field
  = label :user, :email, "Email"
  = text_field :user, :email
.field
  = label :user, :password, "Password"
  = text_field :user, :password ,{:type => "password"}
.field
  = label :user, :location, "Location"
  = text_field :user, :location
- if current_user.admin?
  .select
    = label :user, :department, "Department: "
    = select :user, :department, get_departments
  .select
    = label :user, :privilege, "Privileges: "
    = select :user, :privilege, get_privileges