.field{:align=>"left"}
  = label :user, :name, "Name"
  = text_field :user, :name
.field{:align=>"left"}
  = label :user, :password, "Password"
  = text_field :user, :password ,{:type => "password", :size=>"51%"}
.field{:align=>"left"}
  = label :user, :location, "Location"
  = text_field :user, :location
.select{:align => "left", :width => "50%"}
  = label :user, :privilege, "Level: "
  = select :user, :privilege, ["user", "service provider", "admin"]