.field{:align => "left"}
  = label :user, :name, "Name"
  = text_field :user, :name
.field{:align => "left"}
  = label :user, :email, "Email"
  = text_field :user, :email
.field{:align => "left"}
  = label :user, :password, "Password"
  = text_field :user, :password ,{:type => "password"}
.field{:align => "left"}
  = label :user, :location, "Location"
  = text_field :user, :location
.select{:align => "left"}
  = label :user, :department, "Department: "
  = select :user, :department, get_departments
.select{:align => "left"}
  = label :user, :privilege, "Privileges: "
  = select :user, :privilege, get_privileges
