%tr{:class=>cycle("even","odd")}
  %td{:class => user.status}= link_to "#{user.last_first}", user
  %td{:class => user.status}= user.email
  %td{:class => user.status}= user.service_areas_to_s    
  %td{:class => user.status}= user.privilege  
  %td{:class => user.status}
    - if user.active?
      Yes
    - else
      No
