%div{:leftmargin=>"10%", :topmargin=>"5%", :marginwidth=>"10%", :marginheight=>"5%"}
  = render "user_menu"
  %ul
    %p= "User ID: #{@user.id}"
    %p= "Name: #{@user.name}"
    %p= "Email: #{@user.email}"
    %p= "Locaton: #{@user.location}"
    %p= "Department: #{@user.department}"
    %p= "Privilege: #{@user.privilege}"
    %p
      Associates IDs: 
      = get_accessible_user_ids(@user)