%div{:align => "center"}
  #show-user.ticket-field
    - if current_user.admin? or current_user.id == @user.id
      = render "user_menu"
    -if !@user.verified?
      %h4.red= "Unverified User"
    -elsif !@user.active?
      %h4.red= "Deactivated User"
    %ul 
    %table
      %tr
        %td.right-just
          %b= "Name: " 
        %td= @user.full_name    
      %tr
        %td.right-just
          %b= "Email: "
        %td= @user.email
      %tr
        %td.right-just
          %b= "User Name: "
        %td= @user.name
      %tr
        %td.right-just
          %b= "Active: "        
        -if @user.active?  
          %td= "Yes"
        -else
          %td= "No"
      %tr
        %td.right-just
          %b= "Verified: "
        -if @user.verified?  
          %td= "Yes"
        -else
          %td= "No"
      %tr
        %td.right-just
          %b= "Privilege: "
        %td= @user.privilege
      %tr
        %td.right-just
          %b= "Service Areas: " 
        %td= "#{@service_areas}"
%br
