%div
  - if current_user.admin? or current_user.id == @user.id
    = render "user_menu"
  - if !@user.active?
    %h3= "Deactivated User"
  %ul 
    
    %p
      %b
        Name: 
      = @user.full_name    
    %p
      %b
        Email:
      = @user.email
    %p
      %b
        User Name:
      = @user.name
    %p
      %b
        Active:
      = @user.active?  
    %p
      %b
        Verified:
      = @user.verified?  
    %p
      %b
        Privilege:
      = @user.privilege
    %p
      %b
        Service Areas: 
      - if !@service_areas.blank?
        - @service_areas.each do |sa|
          - if sa.inactive?
            = "#{sa.name}(Deactivated) "
          - else
            = "#{sa.name} "
