%div
  - if current_user.admin? or current_user.id == @user.id
    = render "user_menu"
  - if !@user.active?
    %h3= "Deactivated User"
  %ul 
    
    %p= "Name: #{@user.full_name}"    
    %p= "Email: #{@user.email}"
    %p= "User Name: #{@user.name}"
    %p= "Active: #{@user.active?}"  
    %p= "Verified: #{@user.verified?}"  
    %p= "Privilege: #{@user.privilege}"
    %p
      Service Areas: 
      - if !@service_areas.blank?
        - @service_areas.each do |sa|
          - if sa.inactive?
            = "#{sa.name}(Deactivated) "
          - else
            = "#{sa.name} "