%div{:leftmargin=>"10%", :topmargin=>"5%", :marginwidth=>"10%", :marginheight=>"5%"}
  - if current_user.admin? or current_user.id == @user.id
    = render "user_menu"
  %ul
    %p= "User ID: #{@user.id}"
    %p= "Name: #{@user.name}"
    %p= "Email: #{@user.email}"
    %p= "Locaton: #{@user.location}"
    %p= "Department: #{@user.department}"
    %p= "Privilege: #{@user.privilege}"