%div{:leftmargin=>"10%", :topmargin=>"5%", :marginwidth=>"10%", :marginheight=>"5%"}   
  
  %h3{:align=>"center"}
    = "User ID: #{@user.id}" 
  
  %ul{:align => "left"}
    %p= "User ID: #{@user.id}"
    %p= "User: #{@user.name}" 
    %p= "Privilege: #{@user.privilege}"
    
  %ul= link_to 'Edit', edit_user_path(@user)
  %ul= button_to "Delete", @user, :method => :delete, :confirm => "Are you sure you want to delete this user?"
