%div{:align => "center"}  
  %b.red= "Unverified Account - Your Account Is Still Under Review"
  %p
  #unverified-user.boxed-up
    %table
      %tr
        %td.right-just
          %b= "Name: " 
        %td= @user.full_name    
      %tr
        %td.right-just
          %b= "Email: "
        %td= @user.email
%br

