%center

  - if current_user.admin?
    |
    = link_to "Home", tickets_path, {:style=>'color:#000000;', :class=>"css_class"}
    |
    = link_to "My Tickets", tickets_path, {:style=>'color:#000000;', :class=>"css_class"}
    |
    = link_to "New Ticket", new_ticket_path, {:style=>'color:#000000;', :class=>"css_class"}
    | 
    
  - elsif current_user.service_provider?  
    |
    = link_to "Home", tickets_path, {:style=>'color:#000000;', :class=>"css_class"}
    |
    = link_to "My Tickets", tickets_path, {:style=>'color:#000000;', :class=>"css_class"}
    |
    = link_to "New Ticket", new_ticket_path, {:style=>'color:#000000;', :class=>"css_class"}
    | 
  - elsif current_user.user?    
    |
    = link_to "New Ticket", new_ticket_path, {:style=>'color:#000000;', :class=>"css_class"}
    | 
    = link_to "My Tickets", tickets_path, {:style=>'color:#000000;', :class=>"css_class"}
    |
    = link_to "My Profile", current_user, {:style=>'color:#000000;', :class=>"css_class"}
    |
    
  - else
    |
    MENU - There isn't a current user!
    | 
    