%ul
  - if current_user.admin?
    %li
      = link_to "Tickets", tickets_path    
    %li
      = link_to "New Ticket", new_ticket_path
    %li
      = link_to "Users", users_path
    %li
      = link_to "My Profile", current_user
    %li
      = link_to "Settings", settings_path
  - elsif current_user.service_provider?
    %li
      = link_to "Tickets", tickets_path
    %li
      = link_to "New Ticket", new_ticket_path
    %li
      = link_to "My Profile", current_user
    %li
      = link_to "Settings", settings_path 
  - elsif current_user.user?
    %li
      = link_to "Tickets", tickets_path
    %li
      = link_to "New Ticket", new_ticket_path
    %li
      = link_to "My Profile", current_user
  - else
    
