%center
  - if current_user.admin?
    |
    = link_to "All Tickets", tickets_path
    |
    = link_to "My Tickets", mytickets_path
    |
    = link_to "New Ticket", new_ticket_path
    |
    = link_to "All Users", users_path
    |
    = link_to "New User", new_user_path
    |
    = link_to "My Profile", current_user
    |
    = link_to "Settings", settings_path
    |
    - elsif current_user.service_provider?
    |
    = link_to "All Tickets", tickets_path
    |
    = link_to "My Tickets", mytickets_path
    |
    = link_to "New Ticket", new_ticket_path
    |
    = link_to "My Profile", current_user
    |
    - elsif current_user.user?
    |
    = link_to "My Tickets", mytickets_path
    |
    = link_to "New Ticket", new_ticket_path
    |
    = link_to "My Profile", current_user
    |
  - else
    |
    MENU - There isn't a current user!
    |