= form_tag notes_path, :method => :post do
  .field
    = hidden_field_tag :ticket_id , @ticket.id
    = hidden_field_tag :user_id , current_user.id
    %ul= label :note, :body, "Add a New Note"
    %ul= text_area :note, :body , :size => "50x5"
    %ul= submit_tag("New Note")