%div
  %h4 Add a new Location
  %div
    = form_tag create_location_path, :method => :post do
      .field
        = label :location, :name, "Name: "
        = text_field :location, :name
      .actions
        = submit_tag "Create Location"
  %h4 All Locations
  %Table{:border=> "1", :cellpadding=>"1", :cellspacing=>"1", :width=>"100%", :overflow=>"hidden" }
    = render "locations/location_header"
    = render @locations