%b= "Additional Users: "
-if !@ticket.additional_users.blank? 
  - @ticket.additional_users[0..-2].each do |user|
    = link_to "#{user.first_initial_last}", user_path(user)
    = ", " 
  = link_to "#{@ticket.additional_users[-1].first_initial_last}", user_path(@ticket.additional_users[-1])
-else
  None
