
%table#ticket-info-n
  %tr
    %td.number.ticket-field-n
      %b= "Ticket #: "
      = "#{@ticket.id}"
    %td.title.ticket-field-n
      %b= "Title: "
      = "#{@ticket.title}"
    %td.service-area.ticket-field-n
      %b= "Service Area: "
      = "#{@service_area_name}"
    %td.location.ticket-field-n
      %b= "Location: "
      ="#{@location_name}"
  %tr
    %td.creator.location.ticket-field-n
      %b= "Creator: " 
      -if !@ticket.creator.blank?
        = link_to "#{@ticket.creator.first_initial_last}", @ticket.creator
      -else
        = "None"
    %td.location.ticket-field-n= render "additional_users"        
    %td.location.ticket-field-n= render "add_additional_user_form"
    %td.location.ticket-field-n= render "remove_additional_user_form"
  %tr
    %td.provider.location.ticket-field-n
      %b= "Service Provider: " 
      -if !@ticket.provider.blank?
        = link_to "#{@ticket.provider.first_initial_last}", @ticket.provider
      -else
        = "None"
    %td.location.ticket-field-n= render "additional_providers"        
    %td.location.ticket-field-n= render "add_additional_provider_form"
    %td.location.ticket-field-n= render "remove_additional_provider_form" 
  %tr
    %td.pad-test.ticket-field-n{:colspan => "4"}= render "ticket_menu"
  %tr
    %td.pad-test{:colspan => "2"}= render "ticket_description"
    %td.pad-test{:colspan => "2"}
      #notes-section-new= render @notes
            
    