#ticket-menu  
  %table
    %tr
      -if @ticket.open?
        %td.ticket-field= render "set_primary_provider"    
      -if !current_user.user? and @ticket.open?
        %td.ticket-field= button_to 'Edit Ticket', edit_ticket_path(@ticket), :method => :get
      -if @ticket.open?
        %td.ticket-field= button_to "Close Ticket", close_ticket_path(@ticket), :method=> :put
      -else
        %td.ticket-field= button_to "Reopen Ticket", open_ticket_path(@ticket), :method=> :put
      -if current_user.admin?
        %td.ticket-field= button_to "Delete Ticket", @ticket, :method => :delete
