%tbody
  %tr
    %td= ticket.id
    %td= ticket.title
    %td= ticket.service_area.name
    %td
      - if !ticket.creator.nil?
        = link_to "#{ticket.creator.name}", ticket.creator
    %td
      - if !ticket.provider.nil?
        = link_to "#{ticket.provider.name}", ticket.provider
    %td= readable_date ticket.opened_on
    %td= readable_date ticket.closed_on
    %td= link_to "View Ticket", ticket