#ticket-description
  %table
    = render "ticket_questions"
    %tr
      %td.description.ticket-field
        %b= "Description: " 
        %br
        = "#{@ticket.description.gsub(/\n/, '<br/>')}".html_safe
    %tr
      -if @ticket.open?
        %td.ticket-field= render "new_note_form"
      