-#- if current_user.admin? or current_page?(new_ticket_path)
  -#.select
  -#  = label :ticket, :service_area_id, "Service Area: "
  -#  = select :ticket, :service_area_id, get_service_areas
-#- if @ticket
-#  .field
-#    = hidden_field :ticket, :service_area_id, :value => @ticket.service_area_id
%tr.field
  %td= label :ticket, :title, "Title: "
  %td= text_field :ticket, :title
= render "questions_fields"
%tr.field
  %td= label :ticket, :description, "Description: "
  %td= text_area :ticket, :description, {:placeholder=>"Please describe your issue.", :size=>"50x5"}
