%tbody
  %tr{:class=>cycle("even","odd")}
    %td= link_to "#{ticket.id}", ticket
    -if ticket.title.blank?
      %td= link_to "No Title", ticket
    -else
      %td= link_to "#{ticket.title}", ticket
    -if ticket.service_area
      %td= ticket.service_area.name
    -else
      %td= "No Service Area"
    -if ticket.location
      %td= ticket.location.name
    -else
      %td= "No Location"
    %td
      -if !ticket.creator.blank?
        = link_to "#{ticket.creator.full_name}", ticket.creator
    %td
      -if !ticket.provider.blank?
        = link_to "#{ticket.provider.full_name}", ticket.provider
    %td= readable_date ticket.opened_on
    %td= readable_date ticket.closed_on    
