%tbody
  %tr
    %td= ticket.id
    %td= ticket.opened_on
    %td= ticket.closed_on
    %td= link_to "#{ticket.creator.name}", ticket.creator
    %td= link_to "#{ticket.provider.name}", ticket.provider
    %td= ticket.title
    %td= link_to "View Ticket", ticket