%div{:align => "center"}
  = form_tag ticket_path(@ticket), :method => :put do
    #ticket-body-n.boxed-up-n
      %table#ticket-info-n
        %tr
          %td.number.ticket-field-n
            %b= "Ticket #: "
            = "#{@ticket.id}"
          %td.title.ticket-field-n
            %b= "Title: "
            = text_field :ticket, :title
          %td.service-area.ticket-field-n
            %b= "Service Area: "
            = "#{@service_area_name}"
          %td.location.ticket-field-n
            %b= "Location: "
            ="#{@location_name}"
        %tr
          %td.creator.ticket-field-n
            %b= "Creator: " 
            -if !@ticket.creator.blank?
              = link_to "#{@ticket.creator.first_initial_last}", @ticket.creator
            -else
              = "None"
          %td.ticket-field-n= render "additional_users"        
          %td.ticket-field-n
          %td.ticket-field-n
        %tr
          %td.provider.ticket-field-n
            %b= "Service Provider: " 
            -if !@ticket.provider.blank?
              = link_to "#{@ticket.provider.first_initial_last}", @ticket.provider
            -else
              = "None"
          %td.ticket-field-n= render "additional_providers"      
          %td.ticket-field-n
          %td.ticket-field-n
        %tr
          %td.vert-align-top.ticket-field-n{:colspan => "4"}= render "ticket_menu"
        %tr
          %td.vert-align-top{:colspan => "2"}= render "ticket_description_edit"
          %td.vert-align-top{:colspan => "2"}
            #notes-section-new= render @notes

%br
            