%div
  = form_tag new_ticket_form_path, :method => :post do
    .select
      = label :ticket, :service_area, "Please Choose a Service Area: "
      = select :ticket, :service_area, get_service_areas
    .select
      = label :ticket, :category, "Please Choose a Category: "
      = select :ticket, :category, get_categories_for("IT")
    .actions
      = submit_tag "Next"