%div{:align => "center"}
  = form_tag continue_new_ticket_path, :method => :get do
    #new-ticket.boxed-up
      %table
        %tr
          %td.right-just
            %b= label :ticket, :location_id, "Select a Location: "
          %td= select :ticket, :location_id, get_active_locations, :prompt => "-- Other --"
        %tr
          %td.right-just
            %b= label :ticket, :service_area_id, "Select a Service Area: "
          %td= select :ticket, :service_area_id, get_active_service_areas, :prompt => "-- Service Area --"    
        %tr
          %td.right-just
            %b= label :ticket, :form_id, "Select a Ticket Type: "
          %td= select :ticket, :form_id, get_all_types, :prompt => "-- Type --" 
        %tr
          %td
          %td= submit_tag "Next"
  %br
%br
= render "chained_hack"

