%div
  %p= "Create a new #{@service_area_name} ticket at #{@location_name}: #{@ticket_type}"
  = form_tag tickets_path, :method => :post do
    .field
      = label :ticket, :title, "Title: "
      = text_field :ticket, :title
    = @form_engine.render(@tag_helper)
    .field
      = label :ticket, :description, "Description: "
      %br
      = text_area :ticket, :description, {:placeholder=>"Please describe your issue.", :size=>"50x5"}
    = hidden_field_tag :provider_id, @provider_id
    = hidden_field :ticket, :service_area_id, :value => @service_area_id
    .action
      = submit_tag "Create Ticket"
