%div{:align => "center"}
  #new-ticket-form.boxed-up    
    %div{:align => "center"}
      %b= "New #{@service_area_name} Ticket at #{@location_name}"
      %p
      %b= "#{@ticket_type}"
    %p
    = form_tag tickets_path, :method => :post do
      .field
        %b= label :ticket, :title, "Title: "
        = text_field :ticket, :title
      = @form_engine.render(@form_helper, @options)
      .field
        %b= label :ticket, :description, "Description: "
        %br
        #description-box= text_area :ticket, :description, {:placeholder=>"Please describe your issue.", :size=>"50x5"}
      = hidden_field_tag :provider_id, @provider_id
      = hidden_field :ticket, :service_area_id, :value => @service_area_id
      = hidden_field :ticket, :location_id, :value => @location_id
      .action{:align => "center"}
        %br
        = submit_tag "Create Ticket"
%br
