%div
  = render "ticket_menu"   
  %table{:cellpadding=>"5", :cellspacing=>"5", :overflow=>"hidden", :border => "0"}
    %tr
      %td= "Ticket Number: #{@ticket.id}"
      %td= "Title: #{@ticket.title}"
      %td= "Service Area: #{@service_area_name}"
      %td= "Location: #{@location_name}"
    %tr
      %td
        Creator: 
        - if !@ticket.creator.blank?
          = link_to "#{@ticket.creator.name}", @ticket.creator
      %td= render "additional_users"        
      %td= render "add_additional_user_form"
      %td= render "remove_additional_user_form"
    %tr
      %td
        Service Provider: 
        - if !@ticket.provider.blank?
          = link_to "#{@ticket.provider.name}", @ticket.provider
      %td= render "additional_providers"        
      %td= render "add_additional_provider_form"
      %td= render "remove_additional_provider_form"
  %table
    %tr
      %td= render "ticket_questions"
    %tr
      %td
        Description: 
        %br
        = "#{@ticket.description.gsub(/\n/, '<br/>')}".html_safe
    %tr
      %td= render @notes
    %tr
      %td
        - if @ticket.open?
          = render "new_note_form"
      
      
      
      
