%div
  = render "ticket_menu"
  %div
    %ul= "Ticket Number: #{@ticket.id}"
    %ul= "Service Area: #{@service_area_name}"
    %ul= "Title: #{@ticket.title}"
    %ul
      Opened: 
      = readable_date(@ticket.opened_on)
    %ul
      - if @ticket.closed?
        Closed: 
        = readable_date(@ticket.closed_on)
    %ul
      Creator: 
      - if !@ticket.creator.blank?
        = link_to "#{@ticket.creator.name}", @ticket.creator
    %ul
      Service Provider: 
      - if !@ticket.provider.blank?
        = link_to "#{@ticket.provider.name}", @ticket.provider
    %ul
      Additional Users: 
      - @ticket.additional_users.each do |user|
        = link_to "#{user.name}", user_path(user)
        = " "
    %ul
      Additional Providers: 
      - @ticket.additional_providers.each do |user|
        = link_to "#{user.name}", user_path(user)
        = " "
    %ul
      Everyone (debug only):
      - @ticket.users.each do |user|
        = link_to "#{user.name}", user_path(user)
        = " "
    - if !@ticket.questions.blank?
      - @ticket.questions.each do |q|
        %ul= "#{q.question}: #{q.answer}"
    %ul= "Description: #{@ticket.description}"
  = render @notes
  - if @ticket.open?
    = render "shared/new_note_form"
