%div{:leftmargin=>"10%", :topmargin=>"5%", :marginwidth=>"10%", :marginheight=>"5%"}
  = render "ticket_menu"
  %div
    %ul= "Ticket ID: #{@ticket.id}"
    %ul
      Creator: 
      - if !@ticket.creator.nil?
        = link_to "#{@ticket.creator.name}", @ticket.creator
    %ul
      Service Provider: 
      - if !@ticket.provider.nil?
        = link_to "#{@ticket.provider.name}", @ticket.provider
    %ul
      Watchers: 
      - @ticket.just_watchers.each do |user|
        = link_to "#{user.name}", user_path(user)
        = " "
    %ul
      All Watchers (This can will be removed): 
      - @ticket.users.each do |user|
        = link_to "#{user.name}", user_path(user)
        = " "
    %ul
      Opened: 
      = readable_date(@ticket.opened_on)
    %ul
      Closed: 
      = readable_date(@ticket.closed_on)
    %ul= "Deparment: #{@ticket.department}"
    %ul= "Title: #{@ticket.title}"
    %ul= "Description: #{@ticket.description}"
  = render @notes
  = render "shared/new_note_form"