%div.ticket-body
  
  %table{:cellpadding=>"5", :cellspacing=>"5", :overflow=>"hidden", :border => "0"}
    %tr
      %td.number
        .title-text= "Ticket #: "
        .body-text= "#{@ticket.id}"
      %td.title= "Title: #{@ticket.title}"
      %td.service-area= "Service Area: #{@service_area_name}"
      %td.location= "Location: #{@location_name}"
    %tr
      %td.creator
        Creator: 
        - if !@ticket.creator.blank?
          = link_to "#{@ticket.creator.name}", @ticket.creator
      %td.add-users= render "additional_users"        
      %td.add-add-user= render "add_additional_user_form"
      %td.rm-add-user= render "remove_additional_user_form"
    %tr
      %td.provider
        Service Provider: 
        - if !@ticket.provider.blank?
          = link_to "#{@ticket.provider.name}", @ticket.provider
      %td.add-provs= render "additional_providers"        
      %td.add-add-prov= render "add_additional_provider_form"
      %td.rm-add-prov= render "remove_additional_provider_form"
  = render "ticket_menu"   
  %table
    %tr
      %td.questions= render "ticket_questions"
    %tr
      %td.description
        Description: 
        %br
        = "#{@ticket.description.gsub(/\n/, '<br/>')}".html_safe
    %tr
      %td= render @notes
    %tr
      %td
        - if @ticket.open?
          = render "new_note_form"
      
      
      
      
