%div
  = render "ticket_menu"
  %div
    %ul= "Ticket ID: #{@ticket.id}"
    %ul
      Creator: 
      - if !@ticket.creator.nil?
        = link_to "#{@ticket.creator.name}", @ticket.creator
    %ul
      Service Provider: 
      - if !@ticket.provider.nil?
        = link_to "#{@ticket.provider.name}", @ticket.provider
    %ul
      Additional Users: 
      - @ticket.additional_users.each do |user|
        = link_to "#{user.name}", user_path(user)
        = " "
    %ul
      Additional Providers: 
      - @ticket.additional_providers.each do |user|
        = link_to "#{user.name}", user_path(user)
        = " "
    %ul
      Opened: 
      = readable_date(@ticket.opened_on)
    %ul
      - if @ticket.closed?
        Closed: 
        = readable_date(@ticket.closed_on)
    %ul= "Deparment: #{@ticket.department}"
    %ul= "Title: #{@ticket.title}"
    %ul= "Description: #{@ticket.description}"
  = render @notes
  - if @ticket.open?
    = render "shared/new_note_form"
