%div
  = render "ticket_form_menu"
  %div
    %ul= "Deparment: #{@ticket_form.department}"
    %ul= "Category: #{@ticket_form.category}"
    - if !@ticket_form.form_fields.blank?
      %ul= render "ticket_forms/area_ticket_forms/ticket_form_#{@ticket_form.id}"
    - else
      %ul= "This Form Has no Fields yet."