%tr
  %td= "#{field.position}"
  %td= field.engine.render(@form_helper, field.render_options)
  %td= button_to "Delete Field", remove_field_path(field), :method => :delete , |
                  :confirm => "Are you sure?" 
  %td
    - if field.need_up?
      = button_to "Up", move_up_path(:field_id => field.id), :method => :put
    - if field.need_down?
      = button_to "Down", move_down_path(:field_id => field.id), :method => :put
