!!! 5
%html
  %head
    %title
      TSS - New
    -#= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application"
    -#= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", "http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js", "application"


    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"
    = stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/redmond/jquery-ui.css", "application"
    -#= javascript_include_tag "http://www.appelsiini.net/download/jquery.chained.mini.js"
    = javascript_include_tag "application"
    = stylesheet_link_tag    "application", :media => "all"    
    = csrf_meta_tags
  %body
    = link_to image_tag("tss-small.png", :alt => "Title Image"), tickets_path
    %hr
    - if signed_in?
      = render "shared/menu_bar"
      %hr
    = render "shared/the_flash"
    = yield
    %hr
    = debug(params) if Rails.env.development?
    %div
      set @debug_value in any controller and see the value here:
    %div
      = @debug_value    
